@import '@styles/variables.scss';

.title {
    display: inline-block;
    font-family: DancingScript, sans-serif;

    font-size: 2.3rem;
    color: $white;

    transform: scale(1);
    transition-duration: 500ms;

    text-shadow: 2px 1px 2px rgb(184, 184, 184);
}

.title:hover {
    transform: scale(1.3);
}
